	.cal_container{
		overflow:hidden;
		background: #fafbfb;
		position: absolute;
		top:0;
		left: 0;
		width:100%;
		min-height: 100%;
		display: none;
		padding-bottom: 10px;
	}
	.cal_more{
		width: 98%;
		height: 45px;
		background: #34aadc;
		color: #fff;
		font-weight: bold;
		font-size: 15px;
		font-family: '微软雅黑';
		letter-spacing: 2px;
		margin: 0 auto;
		display: block;
		border: none;
	}
	.calender{
		/*border-radius: 4px;		
		width: 100%;
		display: table;
		text-align: center;
		border: 1px solid #ccc;
		margin-bottom: 10px;
		overflow:hidden;
		text-shadow: 0 1px 0 #fff;
		font-family: Arial,helvetica;
		font-size: 14px;*/	
		overflow:hidden;
		padding: 0 2px;
		cursor:pointer;
	}
	.cal_month_container{
		border-radius: 4px;		
		width: 100%;
		display: table;
		text-align: center;
		/*border: 1px solid #ccc;*/
		margin-bottom: 10px;
		overflow:hidden;
		text-shadow: 0 1px 0 #fff;
		font-family: Arial,helvetica;
		font-size: 14px;
		margin-bottom: 10px;
		float:left;
	}
	
	.calender table{
		border-spacing:0;
		width:101%;
		border-collapse:collapse;		
		/*border-bottom:none;
		border-left:none;*/
		/*border:1px solid #ccc;*/
		border:1px solid none!important;
		border-spacing:0;
		margin:-1px;		
	}
	.cal_month{
		text-align: center;
		font-weight: bolder;
		color: #434649;
		font-family: '华文细黑';
		font-size: 24px;
		height: 60px;
		line-height: 60px;
		letter-spacing: 2px;	
		/*border: 1px solid #ccc;
		border-bottom: none;*/
		/*background-color: #e9e9e9;
		background: -webkit-linear-gradient(bottom,#e9e9e9,#f3f3f3 50%,#fcfcfc);
		background: -webkit-gradient(linear,center bottom,center top,from(#e9e9e9),color-stop(0.5,#f3f3f3),to(#fcfcfc));
		background: -moz-linear-gradient(bottom,#e9e9e9,#f3f3f3 50%,#fcfcfc);
		background: -ms-linear-gradient(bottom,#e9e9e9,#f3f3f3 50%,#fcfcfc);
		background: -o-linear-gradient(bottom,#e9e9e9,#f3f3f3 50%,#fcfcfc);*/
	}
	.calender .cal_prev,.calender .cal_next{
		color: #909499;
		font-family: Aria;
	}
	.cal_month td{		
		border: none;
	}
	.cal_week{
		font-family: '华文细黑';
		height:45px;
		line-height: 45px;
		font-size: 22px;
		color: #484e54;
		/*background-color: #e8e8e8;*/
	}
	.cal_day{
		background:#fff;
		font-family:'Times New Roman','华文细黑';
		font-size:20px;
		color: #8d99a6;
	}
	.cal_week td,.cal_day td{

	}
	.cal_day td{
		height: 60px;
		line-height: 60px;
		text-align: center;	
	}	
	.cal_day td div{
		height:40px;		
		line-height: 40px;
		width:40px;
		margin: 0 auto;
		border:1px solid #fff;
	}
	.cal_day td .normal:hover{			
		
	}	
	.cal_day .disable{
		color: #c6ccd2;
		border:1px solid #fff;
	}
	.cal_day .active div{
		color: #fff!important;
		border-radius: 50%;	
		background-color: #34aadc;
		text-shadow: none;
	}	
	.cal_day .tomorrow,.cal_day .afterday,.cal_day .today{
		color: #ff4319;
		font-size: 15px;
	}
	.cal_day .tomorrow div:hover,.cal_day .afterday div:hover,.cal_day .today div:hover,.cal_day .normal div:hover{
		border:1px solid #34aadc;
		border-radius: 50%;	
	}